.card-image {

        width: 200px;
        height: 300px;
        object-fit: contain;

}



.App {
    background-color: #7033c6;
    color: rgb(248, 248, 248);
    padding: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background-image: url("https://images.alphacoders.com/598/598154.jpg");
    background-attachment: fixed;
    background-repeat:inherit ;
    height: 600vh;


  }

.card {
    cursor:grab;
}

